.full-page-carousel {
    height: 80vh; 
    width: 100%;
}

.full-page-carousel .carousel-item {
    height: 90vh; 
    width: 100%;
}

.full-page-carousel .carousel-item img {
    width: 50%;
    height: 89%;
    object-fit: cover;
}

/* Lock layout for mobile and smaller screens */
@media (max-width: 768px) {
    .full-page-carousel {
        height: 80vh; /* Fixed height */
        width: 100%; /* Fixed width */
    }

    .full-page-carousel .carousel-item {
        height: 90vh; /* Fixed height */
        width: 100%; /* Fixed width */
    }

    .full-page-carousel .carousel-item img {
        width: 50%; /* Fixed width */
        height: 89%; /* Fixed height */
        object-fit: cover; /* Maintain image fit */
    }
}
